
h1{
  font-family: Tahoma, Helvetica, sans-serif;
  padding-top: 20px;
  letter-spacing: 5px;
  font-weight: 900;
  text-decoration: underline;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.container{
  margin: auto 0;
  text-align: center;
  background-color: #F0FFF0;
  box-shadow: 5px 5px 5px darkgray;
  border: 5px ridge #F4A460;
  border-radius: 10px;
}

.App {
  padding-top: 50px;
  text-align: center;

}
#submitRow{
  padding-top: 20px;
}
.card {
  margin-bottom: 5px;
  box-shadow: 5px 5px 5px darkgray;
}
.form-control{
  box-shadow: 3px 3px 3px darkgray;

}
.btn {
  box-shadow: 3px 3px 3px darkgray;
}
